.box {
    display: grid; /* Use flexbox */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:12px;
    outline: 2px solid lightblue;

    
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    border: 1px solid lightblue;
    border-radius: 8px;
    box-sizing: border-box;
    color: whitesmoke;
   
    
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;

    user-select: none;
  
    width: auto;
  }
  
 